.git
.github
.vscode
.idea
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
public/build
public/hot
tests
phpunit.xml
.env
.env.lock
docker-compose.yml
Dockerfile
*.md
npm-debug.log
